:root{
    /*background*/
    --background-def: white;
    --background-emph1: rgb(230, 230, 236);
    /*border*/
    --border-med: 1px solid rgb(180, 180, 180);
    --border-light: 1px solid rgb(200, 200, 200);
    /*color*/
    --color-blue: rgb(0, 122, 255);
    /*font*/
    --font-color-lighter: rgb(100, 100, 100);
    --font-size-huge: 4rem;
    /*margin*/
    --margin-between-siblings-std: 4px;
    /*padding*/
    --padding-dbl: 16px;
    --padding-med: 14px;
    --padding-std: 8px;
}

/* DOCUMENT */
body, html{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#fn-nav{
    background-color: white;
    border-bottom: var(--border-med);
    position: sticky;
    top: 0;
}
    #fn-nav ul{
        margin: 0;
        list-style: none;
        display: flex;
        padding: 0px;
    }
        #fn-nav ul li{
            flex: 1;
            padding: var(--padding-med) var(--padding-std);
            text-align: center;
        }
            #fn-nav ul li a{
                text-decoration: none;
                color: black;
            }
                #fn-nav ul li a:hover{
                    color: var(--color-blue)
                }
        #fn-nav ul li:first-child{
            font-weight: bold;
        }

section{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding-dbl);

    /* background: red; */
}
    section h1{
        margin: 0px;
    }
section#fn-sec-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}
    section#fn-sec-search>*{
        margin-bottom: 4px;
    }
    section#fn-sec-search input#fn-sec-search-input{
        width: 100%;
        border: none;
        padding: 0px;
        font-size: var(--font-size-huge);
        box-sizing: border-box;
    }
    section#fn-sec-search input#fn-sec-search-input:focus{
        border: none;
        outline: none;
        appearance: none;
        border-bottom: 1px dotted;
    }

    section#fn-sec-search button#fn-sec-search-submit{
        appearance: none;
        padding: var(--padding-std);
        border: none;
        background: var(--color-blue);
        color: white;
        margin-left: auto;
        display: block;
    }

section#fn-sec-queries{}
    section#fn-sec-queries > #fn-sec-queries-cont{
        display: flex;
        flex-wrap: wrap;
    }

.fn-ui-panel{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    padding: var(--padding-dbl);
    box-sizing: border-box;
}
    .fn-ui-panel button.fn-ui-panel-close{
        display: block;
        appearance: none;
        background: transparent;
        border: none;
        font-size: 3rem;
        padding: 0px;
    }
    .fn-ui-panel button.fn-ui-panel-close::before{
        content: "×";
    }
    .fn-ui-panel .fn-ui-panel-body{
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
        .fn-ui-panel .fn-ui-panel-body h1{
            font-size: var(--font-size-huge);
        }

.fn-ui-query{
    background: var(--background-def);
    border: var(--border-light);
    border-radius: var(--padding-med);
    padding: var(--padding-med);
    margin: var(--margin-between-siblings-std);
    flex: 1;
    cursor: default;
}
    .fn-ui-query>*{
        margin-bottom: var(--margin-between-siblings-std);
    }
    .fn-ui-query .fn-ui-query-recurrence{
        color: var(--font-color-lighter);
        font-weight: 600;
    }
    .fn-ui-query h2{
        margin-top: 0px;
    }
